.carousel-inner > div img{
    object-fit: cover;
    width: 100%;
    height: 500px;
    filter: brightness(50%)
}

.carousel-caption{
    text-align: right;
    bottom: 10rem;
    left:50%
    
}

.jumbotron{

    background-image: url(images/ba1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height:50vw;
    background-size: 100%;
}

.anchocarta{
width:57%

}